<header>
    <div class="container">
      <div class="jumbotron">
        <h1>{{title}}</h1> 
        <p>{{description}}</p>
      </div>            
    </div>
</header>

<div class="container">

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/movie-list" routerLinkActive="active">Movies list<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/movie-detail/0" routerLinkActive="active">New movie</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>